@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Hind+Madurai&family=Nunito:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Hind+Madurai&family=Jost&family=Nunito:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

.Navbar {
  margin-bottom: 1.5em;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo img {
  width: 1em;
}

.nav-items {
  margin-right: 3.3em;
}

.Navbar > .nav-items > a {
  font-weight: 400;
  color: #484848;
  font-family: "Jost", serif;
  font-size: 1.25em;
  text-decoration: none;
  margin: 35px 1.4em;
  position: relative;
  opacity: 0.9;
}

.Navbar > .nav-items > a:hover {
  opacity: 1;
  color: #008cbf;
  font-weight: bold;
}

.Navbar > .nav-items > a::before {
  content: "";
  position: absolute;
  left: 2%;
  bottom: -0.8em;
  width: 0;
  height: 3px;
  background: #008cbf;
  transition: all 0.45s;
  border-radius: 0.6em;
}

.Navbar > .nav-items > a:hover::before {
  width: 50%;
}

.nav-toggle {
  display: none;
  cursor: pointer;
  margin-right: 10px;
}

@media (max-width: 700px) {
  .nav-items {
    display: none; /* Hide nav items on small screens */
  }

  .nav-toggle {
    display: flex; /* Show hamburger menu */
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  .Navbar > .nav-items.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: linear-gradient(#7a8996dc, #041523dc);
    padding-left: 10px;
    height: calc(100vh - 60px);
    z-index: 999;
  }

  .Navbar > .nav-items > a {
    color: white;
    font-family: Amiko;
    font-size: 1.3em;
    text-decoration: none;
    margin: 15px;
    padding: 3px;
  }

  .nav-toggle > .bar {
    position: relative;
    width: 24px;
    height: 2px;
    background: #008cbf;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle > .bar::before,
  .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #008cbf;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle > .bar::before {
    width: 24px;
    transform: translateY(-8px);
  }

  .nav-toggle > .bar::after {
    width: 24px;
    transform: translateY(8px);
  }

  .nav-toggle.open > .bar {
    transform: translateX(-40px);
    background: transparent;
  }

  .nav-toggle.open > .bar::before {
    width: 24px;
    transform: rotate(45deg) translate(26px, -26px);
  }

  .nav-toggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Navbar > .nav-items > a {
    font-size: 18px;
    margin: 8px;
    padding-left: 35px;
    padding: 8px;
    margin-left: 2%;
  }
}

@media (min-width: 1024px) {
  .Navbar > .nav-items > a {
    font-size: 20px;
    margin: 12px;
  }
}

@media (max-width: 600px) {
  .logo {
    width: auto;
    margin-left: 0;
    justify-content: flex-start;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .logo {
    margin-left: 3%;
    justify-content: flex-start;
  }
}
